* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #525f7f;
}

h2 {
  margin: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  position: relative;
}

.timeline__event {
  margin: 20px 0;
  display: flex;
  border-radius: 6px;
  align-self: center;
  width: 70vw;
  position: relative;
}

.timeline__event:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.timeline__event__date {
  color: #f6a4ec;
  font-size: 1.5rem;
  font-weight: 600;
  background: #9251ac;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}

.timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}

.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #f6a4ec;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
              0 18px 36px -18px rgba(0, 0, 0, 0.3),
              0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}


.timeline__event__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}



.timeline__event__content {
  padding: 20px;
  background: #fff;
  border-radius: 0 6px 6px 0;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
              0 18px 36px -18px rgba(0, 0, 0, 0.3),
              0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}

.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #9251ac;
  letter-spacing: 1.5px;
}

.timeline__event__description {
  flex-basis: 100%;
}

.timeline__event--type2 .timeline__event__date {
  background: #555ac0;
  color: #87bbfe;
  
}

.timeline__event--type2 .timeline__event__icon {
  background: #87bbfe;
  color: #555ac0;
  width: 50px;          
  height: 50;      
  border-radius: 100%;   
  display: flex;       
  align-items: center; 
  justify-content: center; 
   overflow: hidden; 
}

.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}

.timeline__event--type3 .timeline__event__date {
  background: #24b47e;
  color: #aff1b6;
}

.timeline__event--type3 .timeline__event__icon {
  background: #aff1b6;
  color: #24b47e;
 width: 60px;          
  height: 50px;      
  border-radius: 100%;   
  display: flex;       
  align-items: center; 
  justify-content: center;
  overflow: hidden;  
}

.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}
@media (max-width: 768px) {
  .timeline {
    width: 90vw;
  }

  .timeline__event {
    flex-direction: column !important; 
    width: 100%;
    align-items: center;
  }

  .timeline__event__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .timeline__event__icon img {
    width: 100%;
    height: 100%;
  }

  .timeline__event__date {
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  .timeline__event__content {
    border-radius: 6px;
    padding: 15px;
    max-width: 100%;
    box-shadow: none;
  }

  .timeline__event__title {
    font-size: 1rem;
    text-align: center;
  }

  .timeline__event__description p {
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: center;
  }
}


